<html>
<head>
	<script src="jquery-1.8.2.min.js"></script>
	<script language="javascript" src="handlebars-1.0.rc.1.js"></script>
	<script language="javascript" src="ember-1.0.pre.min.js"></script>
	<script language="javascript" src="calc.js"></script>
</head>
<body>
	<table>
		<tr>
			<td id="t-aships">
            <label for="aships">Ships</label>
            
			<!--script type="text/x-handlebars">
				
                {{view Ember.TextField valueBinding="App.attacker.ships" }}
            </scrip -->
			</td>
			<td>
            <script type="text/x-handlebars">
				<label for="dshipts">Ships</label>
                {{view Ember.TextField valueBinding="App.defender.ships" }}
			</script>
            </td>
		</tr>
		<tr>
			<td>
            <script type="text/x-handlebars">
				<label for="awtech">Tech</label>
                {{view Ember.TextField valueBinding="App.attacker.tech" }}
            </script>
			</td>
			<td>
            <script type="text/x-handlebars">
				<label for="dwtech">Tech</label>
                {{view Ember.TextField valueBinding="App.defender.tech" }}
            </script>
			</td>
		</tr>
		<tr>
			<td colspan="2" id="outcome">
            <script type="text/x-handlebars">
			Attacker has not ships, thus no battle.
            </script>
			</td>
			
		</tr>
        <!-- tr>
			<td>
			</td>
			<td style="text-align: right;">
			<button>Swap</button>
			</td>
		</tr -->

		</table>
</body>
</html>

